@import 'base';

.contact-page-container {
  .contact-cards {
    margin-bottom: 10px;

    .coach-card {
      display: inline-block;
      max-width: 480px;
      min-width: 300px;
      width: calc(50% - 20px);

      .title-container {
        padding-right: 20px;

        .position {
          @include body-text;
          color: lighten($black, 40%);
        }
      }

      .card-actions {
        margin-left: 16px;
        margin-right: 16px;

        .email {
          font-size: 14px;

          @media (max-width: $break-sm) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .divider {
    margin: 40px 0;
  }
}
