@import 'base';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $orange;
  color: $white;

  .footer-logo {
    font-size: 36px;
    padding: 0 25px;

    @media (max-width: $break-sm) {
      font-size: 24px;
    }
  }

  .masthead {
    font-size: 16px;
    margin-top: 40px;

    @media (max-width: $break-sm) {
      font-size: 12px;
    }

    .right {
      text-align: right;
    }
  }
}
