@import 'base';

// CSS for header bar
.header {
  // Keep header at top of page when scrolling
  .header-toolbar {
    position: fixed;
    top: 0;
  }

  .menu-image {
    height: 40px;
    width: auto;
    padding-left: 10px;
  }

  // Controls hamburger menu icon
  .icon {
    font-size: 32px;
    vertical-align: middle;
  }
}

// Must sit outside header class due to how Angular material builds the menu
// This CSS makes the nested 'Current Members' menu look like the other menu items
.current-members-button {
  text-align: left;
  display: inline-block;
  border-radius: 0;
  margin: auto 0;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
}

.md-open .current-members-button {
  background-color: $white !important;
}
