// bower:scss
// endbower
@import 'base';

* {
	font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

body {
	height: 100%;

	.wrapper {
		min-height: 100%;
		position: relative;
		background: $gray;
	}
}

md-menu-content {
	min-width: 160px;
}

.emphasis {
	font-weight: 700;
}

.extra-vertical-space {
	padding-top: 20px;
}

.searchbar {
	background: $white;
}

.md-dialog-content {
  md-input-container {
    display: block;
  }
}

.md-autocomplete-suggestions-container li .highlight {
	color: $orange;
}

.container {
	max-width: $break-sm;
	margin: 0 auto;
	padding: 25px;
}

.page-container {
	padding-top: 64px;
	padding-bottom: 225px;
	background: $gray;
}

.page-content {
	padding-top: 10px;
}

.header {
	md-toolbar {
		position: fixed;
	}

	.menu-image {
		height: 40px;
		width: auto;
		padding-left: 10px;
	}

	.menu-item {
		padding: 0 10px;
    font-size: 16px;

    @media (max-width: $break-sm) {
    	font-size: 10px;
    }
	}
}


