// bower:scss
// endbower
@import 'base';

* {
	font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

body {
	height: 100%;

	.wrapper {
		min-height: 100%;
		position: relative;
		background: $gray;
	}
}

// Link styles
a, a:visited, a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

md-menu-content {
	min-width: 160px;
}

.link, .link:visited, .link:hover {
	color: $link;
}

.emphasis {
	font-weight: 700;
}

.extra-vertical-space {
	padding-top: 20px;
}

.searchbar {
	background: $white;
}

.md-dialog-content {
  md-input-container {
    display: block;
  }
}

.md-autocomplete-suggestions-container li .highlight {
	color: $orange;
}

.container {
	max-width: $break-sm;
	margin: 0 auto;
	padding: 25px;
}

.page-container {
	padding-top: 64px;
	padding-bottom: 225px;
	background: $gray;
}

.page-content {
	padding-top: 10px;
}

.page-title {
	font-size: 52px;
	font-weight: 300;
}

.right-align {
	text-align: right;
}

.header {
	md-toolbar {
		position: fixed;
	}

	.menu-image {
		height: 40px;
		width: auto;
		padding-left: 10px;
	}

	.menu-item {
		padding: 0 10px;
    font-size: 16px;
	}
}

.top-performance-table {
	padding-top: 20px;
	clear: both;
	height: 100%;
	width: 100%;

	.left-table {
		float: left;
	}

	.event-title {
		font-size: 20px;
	}

	.left-table, .right-table {
		width: 49%;

		.row {
			padding: 3px 0;
			width: 100%;

			.athlete-names {
				display: inline-block;
				float: left;
				width: 80%;

				.name {
					margin-right: 5px;
				}
			}

			.record {
				display: inline-block;
				text-align: right;
				width: 20%;
				font-weight: 700;
			}
		}
	}

	.right-table {
		float: right;
	}
}

.athlete-result-table {
	padding-top: 20px;
	clear: both;
	height: 100%;
	width: 100%;

	.left-table {
		float: left;
	}

	.left-table, .right-table {
		width: 49%;

		.season {
			margin-bottom: 10px;
			text-align: center;

			.season-name {
				font-weight: 700;
				font-size: 24px;
				color: $orange;
				text-decoration: underline;
			}
		}

		.event {
			margin-top: 8px;
			margin-bottom: 20px;

			.event-name {
				font-weight: 500;
			}

			.row {
				padding: 3px 0;
				width: 100%;

				.meet {
					display: inline-block;
					float: left;
					width: 80%;

					.meet-span {
						margin-right: 5px;
					}
				}

				.record {
					display: inline-block;
					text-align: right;
					width: 20%;
					font-weight: 700;
				}
			}
		}
	}

	.right-table {
		float: right;
	}
}


.clubrelays-page-container {
	background: $gray;
	width: 100%;

	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}

	.map-container {
		padding: 25px 0;
		height: 600px;
		width: 100%;
	}

	.info {
		width: 100%;
		margin-bottom: 15px;

		.info-header {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 5px;
			//font-style: italic;
		}
	}
	.meet-schedule {
		width: 100%;
		margin-bottom: 15px;

		.two-column-table {
			.header {
				width: 100%;
			}

			.row {
				padding: 3px 0;
				width: 100%;
			}

			.left-column {
				float: left;
				width: 50%;
			}

			.right-column {
				display: inline-block;
				width: 50%;
			}

			.left-column, .right-column {
				height: 100%;

				.column-header {
					font-weight: 700;
				}
			}
		}
	}
}

.results-page-container {
	.tabs {
		max-width: 100%;
		width: 100%;

		.three-column-table.record-table {
			.record-time {
				font-weight: 700;
			}

			.first-column, .third-column {
				width: 40%;

				.name{
					margin-right: 5px;
				}
			}

			.first-column {
				text-align: right;

				.record-time {
					margin-left: 5px;
				}
			}

			.second-column {
				text-align: center;
				width: 20%;
			}

			.third-column {
				text-align: left;

				.record-time {
					margin-right: 5px;
				}
			}
		}

		.two-column-table.results-table {
			&.extra-vertical-space {
				padding-top: 10px;
			}

			.right-column {
				text-align: right;

				.splits {
					margin-left: 10px;
				}
			}
		}
	}
}
