// bower:scss
// endbower

$black: #000;
$white: #FFF;
$orange: #F5731B;
$gray: #FAFAFA;

$link: #55acee;

* {
	font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

body {
	height: 100%;

	.wrapper {
		min-height: 100%;
		position: relative;
		background: $gray;
	}
}

a, a:visited, a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

md-menu-content {
	min-width: 160px;
}

.centered-content {
	max-width: 1000px;
	margin: 0 auto;
}

.link, .link:visited, .link:hover {
	color: $link;
}

.emphasis {
	font-weight: 700;
}

.extra-vertical-space {
	padding-top: 20px;
}

.searchbar {
	background: $white;
}

.md-dialog-content {
  md-input-container {
    display: block;
  }
}

.md-autocomplete-suggestions-container li .highlight {
	color: $orange;
}

.padded-content {
	padding: 10px;
}

.page-container {
	padding-top: 64px;
	padding-bottom: 225px;
	background: $gray;
}

.page-content {
	padding-top: 10px;
}

.page-title {
	font-size: 52px;
	font-weight: 300;
}

.right-align {
	text-align: right;
}

.header {
	md-toolbar {
		position: fixed;
	}

	.menu-image {
		height: 40px;
		width: auto;
		padding-left: 10px;
	}

	.menu-item {
		padding: 0 10px;
    font-size: 16px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $orange;
	color: $white;
	height: 125px;

	.footer-logo {
		font-size: 36px;
		padding: 0 25px;
	}
}

.top-performance-table {
	padding-top: 20px;
	clear: both;
	height: 100%;
	width: 100%;

	.left-table {
		float: left;
	}

	.event-title {
		font-size: 20px;
	}

	.left-table, .right-table {
		width: 49%;

		.row {
			padding: 3px 0;
			width: 100%;

			.athlete-names {
				display: inline-block;
				float: left;
				width: 80%;

				.name {
					margin-right: 5px;
				}
			}

			.record {
				display: inline-block;
				text-align: right;
				width: 20%;
				font-weight: 700;
			}
		}
	}

	.right-table {
		float: right;
	}
}

.athlete-result-table {
	padding-top: 20px;
	clear: both;
	height: 100%;
	width: 100%;

	.left-table {
		float: left;
	}

	.left-table, .right-table {
		width: 49%;

		.season {
			margin-bottom: 10px;
			text-align: center;

			.season-name {
				font-weight: 700;
				font-size: 24px;
				color: $orange;
				text-decoration: underline;
			}
		}

		.event {
			margin-top: 8px;
			margin-bottom: 20px;

			.event-name {
				font-weight: 500;
			}

			.row {
				padding: 3px 0;
				width: 100%;

				.meet {
					display: inline-block;
					float: left;
					width: 80%;

					.meet-span {
						margin-right: 5px;
					}
				}

				.record {
					display: inline-block;
					text-align: right;
					width: 20%;
					font-weight: 700;
				}
			}
		}
	}

	.right-table {
		float: right;
	}
}

.two-column-table {
	.header {
		width: 100%;
	}

	.row {
		padding: 3px 0;
		width: 100%;
	}

	.left-column {
		float: left;
		width: 50%;
	}

	.right-column {
		display: inline-block;
		width: 50%;
	}
}

.three-column-table {
	.row {
		padding: 3px 0;
		width: 100%;
	}

	.header {
		width: 100%;
	}

	.first-column {
		width: 40%;
		float: left;
	}

	.first-column-important {
		width: 40%;
		float: left;
		color: $orange;
	}

	.second-column, .third-column {
		display: inline-block;
		width: 30%;
	}

	.third-column {
		float: right;
	}
}

.races-page-container {
	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}
}

.home-page-container {
	.image-slider-container {
		max-height: 495px;

		.image {
			//min-width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.social-bar-container {
		text-align: center;

		.social-bar {
			width: 25%;
			height: 100px;
			color: $white;
			font-size: 50px;
			line-height: 100px;
		}

		.facebook-bar {
			background-color: #3C5A94;
		}

		.twitter-bar {
			background-color: #55acee;
		}

		.instagram-bar {
			background-color: #405de6;
		}

		.youtube-bar {
			background-color: #cd201f;
		}
	}

	.about-title {
		font-size: 60px;
		font-weight: 300;
		margin: 25px 0;
	}

	.about-text {
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
}

.news-page-container {
	background: $gray;

	.title-container {
		margin-bottom: 25px;

		.page-title {
			color: $orange;
			font-weight: 700;
		}

		.news-year-selector {
			margin-top: 45px;
			float: right;
		}
	}

	.post-container {

		.post {
			padding: 5px;
			margin-bottom: 20px;
			border-style: solid;
			border-width: thin;
			border-color: $orange;
			box-shadow: inset 0 0 5px $black;

			.post-title {
				color: $black;
				font-size: 24px;
			}

			.post-metadata {
				font-size: 14px;
				margin-bottom: 10px;

				.post-author .author-name {
					color: $orange;
				}
			}

			.post-content p {
				margin-bottom: 7px;

				a[href]{
					color: $link;
				}
			}
		}
	}
}

.contact-page-container {
	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}
	.contact-cards {
		margin-bottom: 10px;

		.md-headline {
				font-weight: 700;
			}

		.coach-card {
			border-style: solid;
			border-color: $orange;

			display: inline-block;
			max-width: 480px;
			min-width: 300px;
			width: calc(50% - 20px);

			.header {
				color: $orange;
				padding: 2px 5px 2px 5px;

				.md-headline {
					font-weight: 700;
				}
				
			}

			.title {
				background: $white;
				color: $black;
				border-style: solid;
				border-color: $orange;
				border-width: thin;
				box-shadow: inset 0 0 3px $black;

				.md-headline {
					font-weight: 400;
				}	
			}


			.button {
				color: $white;
				background: $orange;
			}
		}
	}
}

.clubrelays-page-container {
	background: $gray;
	width: 100%;

	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}

	.map-container {
		padding: 25px 0;
		height: 600px;
		width: 100%;
	}

	.info {
		width: 100%;
		margin-bottom: 15px;

		.info-header {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 5px;
			//font-style: italic;
		}
	}
	.meet-schedule {
		width: 100%;
		margin-bottom: 15px;

		.two-column-table {
			.header {
				width: 100%;
			}

			.row {
				padding: 3px 0;
				width: 100%;
			}

			.left-column {
				float: left;
				width: 50%;
			}

			.right-column {
				display: inline-block;
				width: 50%;
			}

			.left-column, .right-column {
				height: 100%;

				.column-header {
					font-weight: 700;
				}
			}
		}
	}
}

.board-minutes-page-container {
	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}

	.season {
		font-weight: 1000;
		font-size: 24px;
	}

	.year-container {
		width: 100%;
		text-align: left;
		margin-top: 10px;

		.year {
			font-weight: 700;
			font-size: 18px;
		}

		.link {

		}
	}
}

.prospective-members-page-container {
	.title-container .page-title {
		color: $orange;
		font-weight: 700;
	}
	.mailing-list {
		text-align: center;

		.mailing-list-button {
			margin: 6px 0px;
		}
	}

	.faq-title {
		margin-bottom: 10px;
	}

	.faq-question {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.faq-answer {
		margin-top: 5px;
	}
}

.results-page-container {
	.tabs {
		max-width: 100%;
		width: 100%;

		.three-column-table.record-table {
			.record-time {
				font-weight: 700;
			}

			.first-column, .third-column {
				width: 40%;

				.name{
					margin-right: 5px;
				}
			}

			.first-column {
				text-align: right;

				.record-time {
					margin-left: 5px;
				}
			}

			.second-column {
				text-align: center;
				width: 20%;
			}

			.third-column {
				text-align: left;

				.record-time {
					margin-right: 5px;
				}
			}
		}

		.two-column-table.results-table {
			&.extra-vertical-space {
				padding-top: 10px;
			}

			.right-column {
				text-align: right;

				.splits {
					margin-left: 10px;
				}
			}
		}
	}
}
