@import 'base';

.news-page-container {
  background: $gray;

  .title-container {
    margin-bottom: 25px;

    .year-selector {
      // Aligns the year select on small screens
      @media (max-width: $break-sm) {
        margin: 0;
      }
    }
  }

  .post-container {
    // Provide space between each news story
    .divider {
      margin: 20px 0;
    }

    .post {
      padding-bottom: 20px;

      .post-metadata {
        font-size: 16px;
        margin: 5px 0;

        @media (max-width: $break-xs) {
          font-size: 12px;
        }

        .author-name {
          color: $orange;
        }
      }

      // Style every paragraph in each news post
      .post-content p {
        @include body-text;

        a {
          color: $link !important;
        }
      }
    }
  }
}
