@import 'base';

.prospective-members-page-container {
  .itc-h1 {
    margin-bottom: 20px;
  }

  .faq-question {
    margin-bottom: 40px;

    .itc-h5 {
      font-weight: 400;
      margin-bottom: 10px;
    }

    // Every div thats not the header
    div:not(.itc-h5) {
      @include body-text;
      margin-bottom: 10px;
    }
  }
}
