@import 'base';

.results-page-container {
  .tabs {
    width: 100%;

    .itc-h5 {
      margin-top: 20px;
    }

    .spinner {
      margin-top: 25px;
    }

    .table {
      padding: 10px 0;

      .left {
        text-align: left;
      }

      .center {
        text-align: center;
        padding-right: 0;
      }

      .center-xs {
        @media (max-width: $break-xs) {
          text-align: center !important;
        }
      }

      .right {
        text-align: right;
      }

      .record-time {
        font-weight: 700;
      }

      .splits {
        padding-left: 10px;
      }
    }

    .results-table {
      .table-header div, .table-row div {
        font-size: 8px;
      }

      .table-row div {
        padding: 0;
      }
    }

    .top-performance-table {
      padding-top: 20px;
      clear: both;
      height: 100%;
      width: 100%;

      .left-table {
        float: left;
      }

      .left-table, .right-table {
        width: 49%;
      }

      .right-table {
        float: right;
      }
    }
  }
}
