<div class="home-meet-page-container">
  <div class="container">
    <div class="itc-h1">Illinois Club Peaks</div>
    <div class="page-content">
      <div class="info">
        <div class="itc-h5"></div>
        <div class="club-large">Thank you to all those who braved the weather and came out to the inaugural Illinois Club Peaks! We hope to see you all and many more come out next year and try to break all of the newly set meet records at the 2018 edition of Illinois Club Peaks!</div>
        <div class="club-large"><a class="link" target="_blank" href="https://drive.google.com/open?id=0B9IJ7PBOO1nSR2NCMUhpRmI4TW8" analytics-on="click" analytics-event="Viewed club peaks results">2017 Club Peaks Results</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Registration Info</div>
        <div>Please contact Sean Bruyere, meet coordinator, at <a class="link" href="mailto:seanef2@illinois.edu" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">seanef2@illinois.edu</a> or at <a class="link" href="mailto:illinoistfclub+meetcoord@gmail.com" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">illinoistfclub+meetcoord@gmail.com</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Cost</div>
        <div>$10 per individual event and $20 per relay team (team cap at $300).</div>
        <div>Payment is due the day of the meet. Please make checks payable to "Illinois Track and Field Club".</div>
      </div>

      <div class="info">
        <div class="itc-h5">Facility</div>
        <div>The meet will be held at the University of Illinois Outdoor Track &amp Field Complex (1300 W. St. Mary's Rd, Urbana, Illinois), a 400 meter outdoor track. Spikes are permitted. Bring your own batons! Starting blocks will be provided. Parking is located in the grass area immediately west of Illinois Field, in the Richard T. Ubben Basketball Complex or at the Bielfeldt Athletic Administration Building. In case of inclement weather additional parking is usually available in the State Farm Center East Quadrants. Handicap parking spots are located within this allotment at any of the locations listed. </div>
      </div>

      <div class="info">
        <div class="itc-h5">Schedule of Events</div>
        <div>The women’s race of each event will precede the men’s race. The meet will be run on a rolling schedule. Running events will begin at 12:00 PM. Field events will begin at 12:00 PM with Shot Put and Long Jump. Discus will follow Shot Put and Triple Jump will follow Long Jump.</div>
      </div>
      <div class="meet-schedule">
        <div class="table">
          <div class="table-header" layout="row">
            <div flex="40">Running Events</div>
            <div flex="40">Field Events</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">100/110m Hurdles</div>
            <div flex="40">Long Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">100 Dash</div>
            <div flex="40">Triple Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">5000m Run</div>
            <div flex="40">Shot Put</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">400m Dash</div>
            <div flex="40">Discus</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">4x100m Relay</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">800m Run</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">400m Hurdles</div>
            <div flex="50"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">200m Dash</div>
            <div flex="50"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">1500m Run</div>
            <div flex="50"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">4x400m Relay</div>
            <div flex="50"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="itc-h5">Scoring</div>
        <div>Events are scored 10-8-6-5-4-3-2-1, any number of individuals but only one relay per team can score in each event. You may enter as many relay teams and athletes as you like. You do not have to declare your scorers in advance. Relay teams must be single-sex.</div>
      </div>

      <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1526.0613845534313!2d-88.22990045711308!3d40.09497564115151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd721bc4d1ec3%3A0xb4ed142e02bf41d1!2s1300+St+Marys+Rd%2C+Urbana%2C+IL+61802!5e0!3m2!1sen!2sus!4v1490730972927" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
