<div class="home-meet-page-container">
  <div class="container">
    <div class="itc-h1">Illinois Club Relays</div>
    <div class="page-content">
      <div class="info">
        <div class="itc-h5"></div>
        <div class="club-large">A special thanks to the 29 teams and over 700 athletes who made the 2017 Illinois Club Relays yet again the biggest meet ever! Each year this meet gets bigger and more competitive, as proven by the 6 new meet records broken this year. We look forward to seeing all the teams compete next year at the 2018 Illinois Club Relays on February 24th, 2018!</div>
        <div class="club-large"><a class="link" target="_blank" href="https://drive.google.com/open?id=0B9IJ7PBOO1nSRkhDUTRLa0xoNUU" analytics-on="click" analytics-event="Viewed club relays results">2017 Club Relays Results</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Registration Info</div>
        <div>Please contact Sean Frintner, meet coordinator, at <a class="link" href="mailto:seanef2@illinois.edu" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">seanef2@illinois.edu</a> or at <a class="link" href="mailto:illinoistfclub+meetcoord@gmail.com" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">illinoistfclub+meetcoord@gmail.com</a></div> <div>
        <a class="link" href="https://www.athletic.net/TrackAndField/meet/325396/register" analytics-on="click" analytics-event="Clicked to go to Athletic.net">Register on Athletic.net</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Cost</div>
        <div>$10 per individual event and $20 per relay team (team cap at $350).</div>
        <div>Payment is due the day of the meet. Please make checks payable to "Illinois Track and Field Club".</div>
      </div>

      <div class="info">
        <div class="itc-h5">Facility</div>
        <div>The meet will be held at the University of Illinois Armory (505 East Armory Avenue, Champaign, IL 61820), a 200 meter indoor track. Spikes are permitted. Batons and starting blocks will be provided. Parking will be available at Huff Hall (directly south of the Armory).</div>
      </div>

      <div class="info">
        <div class="itc-h5">Schedule of Events</div>
        <div>The women’s race of each event will precede the men’s race. The meet will be run on a rolling schedule. Both running and field events will begin at 10:00 AM.</div>
      </div>
      <div class="meet-schedule">
        <div class="table">
          <div class="table-header" layout="row">
            <div flex="40">Running Events</div>
            <div flex="40">Field Events</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">60m Hurdles</div>
            <div flex="40">Long Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">60m Dash</div>
            <div flex="40">Triple Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">4x800m Relay</div>
            <div flex="40">High Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">4x200m Relay</div>
            <div flex="40">Shot Put</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">3000m Run</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">1600m Sprint Medley Relay</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">Mile Run</div>
            <div flex="50"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">4x400m Relay</div>
            <div flex="50"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="itc-h5">Scoring</div>
        <div>Relay events are scored 10-8-6-5-4-3-2-1, with only one relay team per school per event scoring. You may enter as many relay teams as you like. Individual events are scored as two person relays, with the top two marks from each team added together to determine the team score (except for mile, in which case the top four marks are added together). You do not have to declare your scorers in advance. Relay teams must be single-sex.</div>
      </div>

      <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.6593359239164!2d-88.23448238432506!3d40.10530768244393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb21d56f2b951978!2sArmory+Building!5e0!3m2!1sen!2sus!4v1467160365267" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
