<div class="home-meet-page-container">
  <div class="container">
    <div class="itc-h1">Illinois Club Relays</div>
    <div class="page-content">
      <div class="info">
        <div class="itc-h5"></div>
        <div class="club-large">Thanks to all the athletes, parents, officials, and volunteers who made Club Relays 2019 a success! We hope to see everyone back next year for Club Relays 2020!</div>
        <div class="club-large"><a class="link" target="_blank" href="https://www.athletic.net/TrackAndField/meet/356067/results" analytics-on="click" analytics-event="Viewed club relays results">2019 Club Relays Results</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Registration Info</div>
        <div>Please contact Bryan Himmel, meet coordinator, at <a class="link" href="mailto:bhimmel2@illinois.edu" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">bhimmel2@illinois.edu</a> or at <a class="link" href="mailto:illinoistfclub+meetcoord@gmail.com" analytics-on="click" analytics-event="Clicked to email club relays page coordinator">illinoistfclub+meetcoord@gmail.com</a></div> <div>
        <a class="link" href="https://www.athletic.net/TrackAndField/meet/356067/register" analytics-on="click" analytics-event="Clicked to go to Athletic.net">Register on Athletic.net</a></div>
      </div>

      <div class="info">
        <div class="itc-h5">Cost</div>
        <div>$10 per individual event and $20 per relay team (team cap at $350).</div>
        <div>Payment is due the day of the meet. Please make checks payable to "Illinois Track and Field Club".</div>
      </div>

      <div class="info">
        <div class="itc-h5">Facility</div>
        <div>The meet will be held at the University of Illinois Armory (505 East Armory Avenue, Champaign, IL 61820), a 200 meter indoor track. Spikes are permitted. Batons and starting blocks will be provided. <div> <div> After 5pm and
        on weekends, with the exception of lots or spaces labeled as enforced 24/7, there are no
        parking restrictions for University lots or spaces. Private parking is enforced as posted. City of
        Champaign meters are enforced as posted.<div> <div> 
        Parking is available near the Armory in lot C9 to the north; *NOT* E12 directly to the south; E18, E19, and E15 3 blocks to the south; and E2 4 blocks to the
        southeast. Street parking is available on 4th street to the west (City of Champaign meters
        enforced 7am ‐ 9pm Mon ‐ Sat), 6th street to the east, and Peabody & Pennsylvania to the
        south. <div> <div> 
        There is plenty of parking for Armory events within 3‐4 blocks.
        Team buses shall drop off and pick up athletes on 4th Street or Armory Ave. Buses should park
        in lot E15 at the corner of 4th St. & Pennsylvania Ave. Team buses should not drop off or pick up
        on Gregory Ave. on the south side of the Armory building..</div>
      </div>

      <div class="info">
        <div class="itc-h5">Schedule of Events</div>
        <div>The women’s race of each event will precede the men’s race. The meet will be run on a rolling schedule. Both running and field events will begin at 10:00 AM.</div>
      </div>
      <div class="meet-schedule">
        <div class="table">
          <div class="table-header" layout="row">
            <div flex="40">Running Events</div>
            <div flex="40">Field Events</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">60m Hurdles</div>
            <div flex="40">Long Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">60m Dash</div>
            <div flex="40">Triple Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">4x800m Relay</div>
            <div flex="40">High Jump</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">4x200m Relay</div>
            <div flex="40">Shot Put</div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">3000m Run</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="40">1600m Sprint Medley Relay</div>
            <div flex="40"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">Mile Run</div>
            <div flex="50"></div>
          </div>
          <div class="table-row" layout="row">
            <div flex="50">4x400m Relay</div>
            <div flex="50"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="itc-h5">Scoring</div>
        <div>Relay events are scored 10-8-6-5-4-3-2-1, with only one relay team per school per event scoring. You may enter as many relay teams as you like. Individual events are scored as two person relays, with the top two marks from each team added together to determine the team score (except for mile, in which case the top four marks are added together). You do not have to declare your scorers in advance. Relay teams must be single-sex.</div>
      </div>

      <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.6593359239164!2d-88.23448238432506!3d40.10530768244393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb21d56f2b951978!2sArmory+Building!5e0!3m2!1sen!2sus!4v1467160365267" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
