<div class="board-minutes-page-container">
  <div class="container">
    <div class="itc-h1">Board Minutes</div>
    <div class="page-content">
      <md-tabs class="tabs" md-dynamic-height>
      <md-tab label="Track">
        <div class="table" ng-repeat="(year, value) in trackMinutes">
          <div class="table-header" layout="row">
            <div flex="100">{{ year }}</div>
          </div>
          <md-divider></md-divider>
          <div class="table-row" layout="row" ng-repeat="minutes in value">
            <div flex="100"><a class="link" target="_blank" href="{{ minutes.link }}">{{ minutes.date }}</a></div>
          </div>
        </div>
	  </md-tab>
	  <md-tab label="Cross Country">
        <div class="table" ng-repeat="(year, value) in crossMinutes">
          <div class="table-header" layout="row">
            <div flex="100">{{ year }}</div>
          </div>
          <md-divider></md-divider>
          <div class="table-row" layout="row" ng-repeat="minutes in value">
            <div flex="100"><a class="link" target="_blank" href="{{ minutes.link }}">{{ minutes.date }}</a></div>
          </div>
        </div>
	  </md-tab>
    </div>
  </div>
</div>