<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Illinois Track Club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/board_minutes.css">
    <link rel="stylesheet" href="styles/club_relays.css">
    <link rel="stylesheet" href="styles/contact.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/news.css">
    <link rel="stylesheet" href="styles/prospective_members.css">
    <link rel="stylesheet" href="styles/races.css">
    <link rel="stylesheet" href="styles/results.css">
    <!-- endbuild -->
  </head>
  <body ng-app="itcFrontendApp">

  <div class="wrapper">
    <div class="header">
      <md-toolbar class="header-toolbar md-menu-toolbar md-whiteframe-4dp" layout="row" layout-align="end center">
        <a href="#/"><img class="menu-image" src="images/itc_wings.png"></a>
        <span flex></span>
        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            <i class="icon ion-navicon"></i>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-href="#/news">News</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/races">Race Schedule</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/clubrelays">Club Relays</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/results">Results</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/prospective_members">Prospective Members</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-menu>
                <md-button class="current-members-button" ng-click="$mdOpenMenu()">
                  Current Members
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item><md-button ng-href="https://www.facebook.com/illinoisxctrackclub/photos">Photos</md-button></md-menu-item>
                  <md-menu-item><md-button ng-href="https://www.youtube.com/channel/UCcZRTX-FYPADoTpgc1jAcow">Videos</md-button></md-menu-item>
                  <md-menu-item><md-button ng-href="#/current_members/board_minutes">Board Minutes</md-button></md-menu-item>
                  <md-menu-item><md-button target="_blank" ng-href="https://drive.google.com/open?id=0B9IJ7PBOO1nSWFlMcVZULVdwUkk">IXC Constitution</md-button></md-menu-item>
                  <md-menu-item><md-button target="_blank" ng-href="https://drive.google.com/open?id=0B9IJ7PBOO1nSbFd2QXZWVER3RDQ">ITC Constitution</md-button></md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/contact">Contact</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-toolbar>
    </div>

    <div class="page-container">
      <div ng-view autoscroll="true"></div>
    </div>

    <div class="footer">
      <div class="container">
        <div layout="row" layout-align="center start">
          <a class="footer-logo" href="https://www.facebook.com/illinoisxctrackclub/"><i class="ion-social-facebook"></i></a>
          <a class="footer-logo" href="https://twitter.com/IlliniTrackClub"><i class="ion-social-twitter"></i></a>
          <a class="footer-logo" href="https://www.instagram.com/illinitrackclub/"><i class="ion-social-instagram-outline"></i></a>
          <a class="footer-logo" href="https://www.youtube.com/channel/UCcZRTX-FYPADoTpgc1jAcow"><i class="ion-social-youtube"></i></a>
        </div>
        <div class="masthead" layout="row" layout-align="space-between center">
          <div>Illinois Track Club</div>
          <div class="right">Built by: Mike Kreiser, Tyler Splitt, and Ryan Somerfield</div>
        </div>
      </div>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53247724-7', 'none');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/filters.js"></script>
  <script src="scripts/config/events.js"></script>
  <script src="scripts/config/urls.js"></script>
  <script src="scripts/controllers/clubrelays.js"></script>
  <script src="scripts/controllers/contact.js"></script>
  <script src="scripts/controllers/home.js"></script>
  <script src="scripts/controllers/news.js"></script>
  <script src="scripts/controllers/prospective_members.js"></script>
  <script src="scripts/controllers/races.js"></script>
  <script src="scripts/controllers/results.js"></script>
  <script src="scripts/controllers/current_members/board_minutes.js"></script>
  <script src="scripts/controllers/current_members/training_resources.js"></script>
  <script src="scripts/services/api.js"></script>
  <!-- endbuild -->
</body>
</html>
