<div class="contact-page-container">
  <div class="container">
      <div class="itc-h1">Contact</div>

      <div class="page-content">
        <div class="contact-cards">
          <div class="itc-h4">Track and Field Board &amp; Coaches</div>
          <md-card class="coach-card" ng-repeat="coach in tfCoaches">
            <md-card-title>
              <md-card-title-text class="title-container">
                <span class="md-headline">{{coach.position}}</span>
                <span class="position">{{coach.name}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-md card-media">
                  <img src="{{coach.image}}">
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions class="card-actions" layout="row" layout-align="end center">
              <span class="email">{{coach.email}}</span>
              <span flex></span>
              <md-button class="md-raised md-primary" ng-click="emailCoach(coach.email)">Email</md-button>
            </md-card-actions>
          </md-card>
        </div>
        <md-divider class="divider"></md-divider>
        <div class="contact-cards">
          <div class="itc-h4">Cross Country Board &amp; Coaches</div>
          <md-card class="coach-card" ng-repeat="coach in xcCoaches">
            <md-card-title>
              <md-card-title-text class="title-container">
                <span class="md-headline">{{coach.position}}</span>
                <span class="position">{{coach.name}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-md card-media">
                  <img src="{{coach.image}}">
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions class="card-actions" layout="row" layout-align="end center">
              <span class="email">{{coach.email}}</span>
              <span flex></span>
              <md-button class="md-raised md-primary" ng-click="emailCoach(coach.email)">Email</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
  </div>
</div>
