<div class="news-page-container">
	<div class="centered-content padded-content">
		<div class="title-container">
			<span class="page-title">News</span>
			<md-input-container class="news-year-selector">
        <label>Filter By Year</label>
        <md-select ng-model="selectedYear">
          <md-option ng-repeat="(key, value) in news" ng-value="key" ng-selected="key === curYear">{{ key }}</md-option> 
        </md-select >
      </md-input-container>
    </div>
    <div class="post-container">
    	<div class="post" ng-repeat="news in news[selectedYear] | orderObjectBy:'post_datetime':true">
    		<div class="post-title">{{ ::news.post_subject }}</div>
    		<div class="post-metadata">
    			<span class="post-author">Posted by {{ ::news.author }}</span> - <span class="post-date">{{ ::news.post_datetime.substring(0,10) }}</span>
    		</div>
    		<div class="post-content">
    			<p ng-bind-html="news.post_text | n12br"></p>
    		</div>
    	</div>
    </div>
	</div>
</div>
