<div class="news-page-container">
	<div class="container">
		<div layout="row">
			<span class="itc-h1">News</span>
            <span flex></span>
			<md-input-container class="year-selector">
                <label>Filter By Year</label>
                <md-select ng-model="selectedYear">
                    <md-option ng-repeat="(key, value) in news" ng-value="key" ng-selected="key === curYear">{{ key }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" md-diameter="40px" ng-if="isLoadingNews"></md-progress-circular>
        </div>
        <div class="post-container">
        	<div class="post" ng-repeat-start="news in news[selectedYear] | orderObjectBy:'post_datetime':true">
        		<div class="itc-h4">{{ ::news.post_subject }}</div>
        		<div class="post-metadata">
        			<span class="post-author">Posted by <span class="author-name">{{ ::news.author }}</span></span> - <span class="post-date">{{ ::news.post_datetime | date : 'MM/dd/yyyy' }}</span>
        		</div>
        		<div class="post-content">
        			<p ng-bind-html="news.post_text | n12br"></p>
        		</div>
        	</div>
            <md-divider class="divider" ng-if="!$last" ng-repeat-end></md-divider>
        </div>
	</div>
</div>
