<div class="news-page-container">
	<div class="centered-content padded-content">
		<div class="title-container">
			<span class="page-title">News</span>
			<md-input-container class="news-year-selector">
			<label>Filter By Year</label>
			<md-select ng-model="selectedYear">
			<md-option value="2016">2016</md-option>
			<md-option value="2015">2015</md-option>
			<md-option value="2014">2014</md-option>
			<md-option value="2013">2013</md-option>
			</md-select>
			</md-input-container>
		</div>

		<div class="post-container">
			<div class="post">
				<div class="post-title">ITC Set to Begin Its Track Season</div>
				<div class="post-metadata">
					<span class="post-author">ITC Web Development Team</span> - <span class="post-date">1/6/2017 10:00:00</span>
				</div>
				<div class="post-content">
					<p>Winter is a difficult time for most Track and Field athletes. Being on the
					cusp of the season, it can be hard for athletes to stay motivated to train. Luckily, your ITC
					web development team is here to turn those woes to wishes. The ITC Web Development has been 
					hard at work making a sleek, new, functional website for your reading pleasure. The process is
					still on-going, so please have patience with the site for the time being. In the meantime, make sure
					to report any errors to the new webmaster, Tyler Splitt. His contact info can be found on the contacts page.</p>
					<p>Stay tuned for more riveting coverage of ITC's season, and more website improvements as well!
					We look forward to a fun and successful season!</p>
				</div>
			</div>
		</div>
	</div>
</div>
