<div class="races-page-container">
  <div class="centered-content padded-content">
    <div class="title-container">
      <div class="page-title">Race Schedule</div>
    </div>

    <div class="page-content">
      <div class="md-headline">2016 Cross Country Season</div>
      <div class="three-column-table">
        <div class="header row md-body-2">
          <div class="first-column">Meet</div>
          <div class="second-column"">Date</div>
          <div class="third-column"">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="row md-body-1" ng-repeat="meet in indoorMeets">
          <div class="first-column">{{meet.event}}</div>
          <div class="second-column"">{{meet.date}}</div>
          <div class="third-column"">{{meet.location}}</div>
        </div>
      </div>
      <div class="md-headline extra-vertical-space">2017 Indoor Season</div>
      <div class="three-column-table">
        <div class="header row md-body-2">
          <div class="first-column">Meet</div>
          <div class="second-column"">Date</div>
          <div class="third-column"">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="row md-body-1" ng-repeat="meet in indoorMeets">
          <div class="first-column">{{meet.event}}</div>
          <div class="second-column"">{{meet.date}}</div>
          <div class="third-column"">{{meet.location}}</div>
        </div>
      </div>
      <div class="md-headline extra-vertical-space">2017 Outdoor Season</div>
      <div class="three-column-table">
        <div class="header row md-body-2">
          <div class="first-column">Meet</div>
          <div class="second-column"">Date</div>
          <div class="third-column"">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="row md-body-1" ng-repeat="meet in indoorMeets">
          <div class="first-column">{{meet.event}}</div>
          <div class="second-column"">{{meet.date}}</div>
          <div class="third-column"">{{meet.location}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
