<div class="races-page-container">
  <div class="container">
    <div class="itc-h1">Race Schedule</div>

    <div class="page-content">
      <div class="itc-h5">2018 Cross Country Season</div>
      <div class="table race-table">
        <div class="table-header" layout="row" layout-align="start center">
          <div flex="40">Meet</div>
          <div flex="30">Date</div>
          <div flex="30">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="table-row" layout="row" layout-align="start center" ng-repeat="meet in crossMeets">
          <div flex="40">{{meet.event}}</div>
          <div flex="30">{{meet.date}}</div>
          <div flex="30">{{meet.location}}</div>
        </div>
      </div>
      <div class="itc-h5">2019 Indoor Season</div>
      <div class="table race-table">
        <div class="table-header" layout="row" layout-align="start center">
          <div flex="40">Meet</div>
          <div flex="30">Date</div>
          <div flex="30">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="table-row" ng-class="{ 'highlighted-meet': meet.important, 'link': meet.link }" layout="row" layout-align="start center" ng-repeat="meet in indoorMeets" ng-click="openMeet(meet.link)">
          <div flex="40">{{meet.event}}</div>
          <div flex="30">{{meet.date}}</div>
          <div flex="30">{{meet.location}}</div>
        </div>
      </div>
      <div class="itc-h5">2019 Outdoor Season</div>
      <div class="table race-table">
        <div class="table-header" layout="row" layout-align="start center">
          <div flex="40">Meet</div>
          <div flex="30">Date</div>
          <div flex="30">Location</div>
        </div>
        <md-divider></md-divider>
        <div class="table-row" ng-class="{ 'highlighted-meet': meet.important, 'link': meet.link }" layout="row" layout-align="start center" ng-repeat="meet in outdoorMeets" ng-click="openMeet(meet.link)">
          <div flex="40">{{meet.event}}</div>
          <div flex="30">{{meet.date}}</div>
          <div flex="30">{{meet.location}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
